<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dkey"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:name=".DkeyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".DkeyTabActivityGroup"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DkeyTabActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyObservation"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyObserveTabActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyActivityGroup"
            android:label="@string/app_name" />
        <activity
            android:name=".Dkey"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeySpeciesActivityGroup"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeySpecies"
            android:label="@string/app_name" />
        <activity
            android:name=".Dkeys"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyNode"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyGlossaryGroup"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyGlossary"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyGlossaryDetails"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyLeafNode"
            android:label="@string/app_name" />
        <activity
            android:name=".DkeyMoreInfo"
            android:label="@string/app_name" />

        <!-- Observation tabs -->
        <activity
            android:name=".observe.DkeyConfig"
            android:label="@string/app_name" />
        <activity
            android:name=".observe.CameraDemo"
            android:label="@string/app_name" />
        <activity
            android:name=".observe.DkeySendObservation"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoBackground" />
        <activity
            android:name=".observe.DkeyViewPhotos"
            android:label="@string/app_name" />
        <activity
            android:name=".observe.DkeyNotes"
            android:label="@string/app_name" 
            />
        <activity
            android:name=".observe.DkeyViewObservations"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoBackground" />
        <activity 
            android:name=".observe.SingleListItem"
            android:label="@string/app_name" />
        
    </application>

</manifest>